* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: #f8f3e1;
}

html, body {
	height: 100%;
}

body {
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
}

.game {
	flex-grow: 1;
}
